body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  
}
.modules{
  display: grid;
  grid-template-columns: 2fr 2fr;


}

.htmlcss-container, 
.javascript-container,
.react-container,
.node-container,
.form-container{
  margin: 50px;
}
.theForm{
  margin:50px;
  display:flex;
  flex-direction:column;
}
.select,
.name,
.experience{
  margin-bottom: 20px;
  padding: 20px;
}
